{% extends "base.html" %}

{% block body %}
<div id="main">
    {% for post in posts %}
    <article class="listing clearfix">
    	<ul class="meta">
            <li class="datetime">
                <time datetime="{{ post.published_tz|date:"Y-m-d" }}" pubdate="pubdate">
                	{{ post.published_tz|date:config.date_format }}
				</time>
            </li>
            <li class="comments">
                <a href="{{ config.url_prefix }}{{ post.path }}#disqus_thread">Comments</a>
            </li>
            {% if post.tags %}
            <li class="tags">
            {% for tag in post.tag_pairs %}
                <a href="{{ config.url_prefix }}/tag/{{ tag.1|escape }}">{{ tag.0|escape }}</a>{% if not forloop.last %},{% endif %}
            {% endfor %}
            </li>
            {% endif %}
        </ul><!-- end of ul.meta -->
    	<header>
			<h1><a href="{{ config.url_prefix }}{{ post.path }}">{{ post.title|escape }}</a></h1>
		</header>
    </article><!-- end of article.listing -->
    {% endfor %}
</div><!-- end of #main -->

<div class="pagination clearfix">
    {% if next_page %}
    <span class="prevlink lefticon">
        <a href="{{ config.url_prefix }}{{ next_page }}">Older</a>
    </span>
    {% endif %}
    {% if prev_page %}
    <span class="nextlink righticon">
        <a href="{{ config.url_prefix }}{{ prev_page }}">Newer</a>
    </span>
    {% endif %}
</div><!-- end of div.pagination -->

{% if config.disqus_forum %}
    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = "{{config.disqus_forum}}";

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
{% endif %}

{% endblock %}
